* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Tahoma, Helvetica, "sans-serif";
}

html {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .05);
}

section.giraffe {

    div.scene {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    div.error {
        background-color: #dd4b39;
        color: white;
        padding: 10px;
        display: none;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);

        &.visible {
            display: block;
        }
    }

}